.nav-links {
    display: flex;
    color: red;
  }
  
  .nav-links a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 10px;
  }
  
  .logout-button {
    flex: 1;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: red;

  }
  


  
  .nav-links a,
.nav-links button {
  padding: 10px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links a:hover,
.nav-links button:hover {
  background-color: #555;
}
