/* .hero-img{
    align-items: right;
    float: left;
    margin-right: 10px; 
} */

/* .landing-page {

    padding-bottom: 30%;
    margin-top: 10%;
    margin-left: 10%;
  }
  
  .hero-img {
    margin-top: 1%;

    float: right;
   
  }

.landing-page-text{
    text-align: left;
    font-weight: 200;

  } */


  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  
  .hero-img {
    width: 300px;
    height: auto;
  }
  
  .landing-page-text {
    text-align: center;
    margin-top: 30px;
  }
  
  .cta {
    text-align: center;
    margin-top: 30px;
  }
  
  